<a class="flex flex-col items-center" href="/artist/<%= artist.id %>">
    <img src="<%= artist.imgUrl %>" alt="" class="size-24 rounded-full object-cover">
    <p class="font-bold">
        <%= artist.name %>
    </p>
</a>