<a class="flex flex-col items-center" href="/artist/<%= artist.id %>">
    <img src="<%= artist.imgUrl ? artist.imgUrl : 
    'https://webcolours.ca/wp-content/uploads/2020/10/webcolours-unknown.png' %>" alt="" class="size-24 rounded-full
    object-cover">
    <p class="font-bold">
        <%= artist.name %>
    </p>
</a>