<aside class="flex flex-col gap-2 p-3">
    <a href="/new/album" class="hover:bg-rose-100 rounded-md p-2">Add album</a>
    <a href="/new/artist" class="hover:bg-rose-100 rounded-md p-2">Add artist</a>
    <a href="/new/company" class="hover:bg-rose-100 rounded-md p-2">Add company</a>
</aside>