<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="flex flex-col h-svh">

    <%- include("components/navBar") %>
        <div class="grid grid-cols-[150px,1fr] flex-grow">
            <%- include("components/sideBar") %>
                <main class="flex flex-col p-4 bg-slate-50">
                    <section class="grid grid-cols-6 gap-4 mx-2">
                        <% if (items[0]===undefined) { %>
                            No albums
                            <% } else { %>
                                <% items.forEach(item=> { %>
                                    <%- include("albumComponent", {item}) %>
                                        <% }) %>
                                            <% } %>
                    </section>
                    <section>
                        <h2 class="text-2xl">Artists</h2>
                        <div class="flex gap-3 mx-2">
                            <% artists.forEach(artist=> { %>
                                <%- include("components/artistIcon", {artist}) %>
                                    <% }) %>
                        </div>
                    </section>
                </main>
        </div>
</body>

</html>