<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Artist</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1>Create Comany</h1>
    <main class="flex flex-col max-w-80 mx-auto">
        <form action="/new/company" method="post" class="flex flex-col gap-3">
            <%- include("components/input", {props:{id:"name", label:"Name", required:true}}) %>
                <button>Hazme click</button>
        </form>
    </main>

</body>

</html>